<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.CommonProtos" version="2.3.0" targetFramework="net472" />
  <package id="Google.Api.Gax" version="3.5.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Grpc" version="3.5.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Grpc.GrpcCore" version="3.5.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.53.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.53.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.53.0" targetFramework="net472" />
  <package id="Google.Cloud.Speech.V1" version="2.7.0" targetFramework="net472" />
  <package id="Google.LongRunning" version="2.3.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.15.8" targetFramework="net472" />
  <package id="Grpc" version="2.34.0" targetFramework="net472" />
  <package id="Grpc.Auth" version="2.38.0" targetFramework="net472" />
  <package id="Grpc.Core" version="2.38.1" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="2.38.1" targetFramework="net472" />
  <package id="H.Core" version="0.20.8" targetFramework="net472" />
  <package id="H.Recognizers.YandexRecognizer" version="0.20.8" targetFramework="net472" />
  <package id="H.Yandex.Cloud.SDK" version="1.0.0" targetFramework="net472" />
  <package id="Humanizer.Core" version="2.13.14" targetFramework="net472" />
  <package id="IBM.Cloud.SDK.Core" version="1.2.0" targetFramework="net472" />
  <package id="IBM.Watson.Common" version="5.3.0" targetFramework="net472" />
  <package id="IBM.Watson.SpeechToText.v1" version="5.3.0" targetFramework="net472" />
  <package id="JsonSubTypes" version="1.8.0" targetFramework="net472" />
  <package id="JWT" version="5.1.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.CognitiveServices.Speech" version="1.19.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net472" />
  <package id="NAudio" version="2.0.1" targetFramework="net472" />
  <package id="NAudio.Asio" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.Core" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.Midi" version="2.0.1" targetFramework="net472" />
  <package id="NAudio.Wasapi" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.WinForms" version="2.0.1" targetFramework="net472" />
  <package id="NAudio.WinMM" version="2.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.WebSockets.Client" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="Wdc.System.Net.Http.Formatting.NetStandard" version="1.0.7" targetFramework="net472" />
</packages>